extends layout
block content 
 h1= title
  a(href="/HomePage") HomePage
 a(href="/ProjectsPage") ProjectsPage
  a(href="/Services") Services
  a(href="/ContactMe") ContactMe
  a(href="/AboutMe") AboutMe
  
